<img src="{{evnt.bannerImg.url}}" alt="" class="bg-black object-cover w-full" style=" height: 20vh;">

<div class="mt-4 flex flex-col w-full" style=" height: 34vh;">
    <div class=" w-full font-bold text-2xl">
        <p>{{evnt.name}}</p>
        </div>
            <div class="w-full flex justify-between text-xl">
                <p>Start Date: {{evnt.stime}}</p>
                <p>End date: {{evnt.etime}}</p>
            </div>
            <div class="w-full h-fit">
                <p>{{evnt.details}}</p>
            </div>
    </div>
</div>